/**
 * _common.scss
 *
 * includes css styles that are used across multiple files/pages
 */

// defines the breakpoint between mobile and non-mobile devices
$sm-breakpoint: 767px;

// html stylings
html {
    position: relative;
    min-height: 100%;
}

// defines default font and colors of the page, as well as margin for footer
body {
    font-family: PlusJakartaSans;
    background-color: var(--background-color-main);
    margin-bottom: 200px;
    color: var(--text-color-main);

    @media (max-width: $sm-breakpoint) {
        & {
           margin-bottom: 120px;
        }
    }
}

a {
    text-decoration: none;

    // disable links without hrefs
    &:not([href]) {
        & p, & {
            opacity: 0.5;
            &::after{
                height: 0;
            }
        }
    }
}

// removes clear button on webkit search input boxes
input::-webkit-search-cancel-button {
    display: none;
}

// hover animation used for links
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--text-color-main);

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: var(--text-color-main);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &-sm {
        @extend .hover-underline-animation;
        &:after {
            height: 2px;
        }
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

// limits the number of lines of text visible (truncates the rest)
@mixin truncate-n-lines($lines) {
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// default card style
.card {
    border: none;
    background-color: var(--background-color-main);

    .card-img {
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.25rem;
        }

        &-overlay {
            p {
                color: var(--text-color-card);
                font-weight: 500;
                font-size: 1.2rem;
                @include truncate-n-lines(2);
            }
        }
    }

    @media (max-width: $sm-breakpoint) {
        & &-img, 
        & &-img-overlay, 
        & img {
            border-radius: 0 !important; // required to override bootstrap card border-radius
        }
    }

    .card-score-badge {
        position: absolute;
        top: 0;
        right: 10%;
        background: $secondary;
        padding: 1em 0.5em 0em;
        border-radius: 0 0 1em 1em;
        min-width: 2.7em;
        color: $black;
        font-weight: bold;

        & > p {
            margin-bottom: 0.5em;
            text-align: center
        }

        &-bottom {
            @extend .card-score-badge;
            top: unset;
            bottom: 0;
            border-radius: 1em 1em 0 0;
        }
    }
}

// adds a gradient overlay over an entire element
@mixin card-overlay-gradient($rotation, $start, $end, $color) {
    background-image: linear-gradient($rotation, $color $start, rgba(0, 0, 0, 0) $end);
}