$sm-breakpoint: 767px;

body {
    font-family: PlusJakartaSans;
    background-color: var(--background-color-main);
}

a {
    text-decoration: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--text-color-main);

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: var(--text-color-main);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &-sm {
        @extend .hover-underline-animation;
        &:after {
            height: 2px;
        }
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@mixin truncate-n-lines($lines) {
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}