footer {
    background: $primaryBlack;
    align-items: center;

    p { 
        color: white;
        font-weight: 500;
        white-space: nowrap;
        margin-bottom: 0;
    }

    & div > p:first-child {
        margin-bottom: 1em;
    }

    a {
        color: white;
        text-decoration: none;
        
        &:hover {
            color: $primary;
        }
    }

    div {
        margin-left: auto;

        & div.spacer {
            width: calc(100vw/6);
        }
    }
}

svg.footerlogo {
    min-width: 90px;
    max-width: 90px;

    path {
        fill: white;
    }
}