/**
 * _footer.scss
 *
 * defines styles used in the footer
 */

footer {
    background: var(--background-color-footer);
    align-items: center;

    p { 
        color: var(--text-color-footer);
        font-weight: 500;
        white-space: nowrap;
        margin-bottom: 0;

        &:first-child {
            margin-bottom: 1em;
        }
    }

    a {
        color: var(--text-color-footer);
        
        &:hover {
            color: var(--text-highlight-footer);
        }
    }

    div {
        margin-left: auto;

        & div.spacer {
            width: calc(100vw/6);
        }
    }

    .footerlogo {
        & > svg {
            width: 100px;
        
            @media (max-width: $sm-breakpoint) {
                & {
                    width: 70px;
                }
            }
        
            path {
                fill: var(--text-color-footer);
            }
        
            &:hover path {
                fill: var(--text-highlight-footer);
            }
        }

        // fancy login button animation
        &:after {
            content: "Login";
            display: inline-block;
            font-size: 1.5rem;
            width: 0;
            transform: rotate(71deg) translate(-30px,3px);
            visibility: hidden;
            opacity:0;
            transition: visibility 0s linear 0.3s, opacity 0.3s linear, font 0.05s linear;
        }

        &:hover:after {
            visibility: visible;
            opacity:1;
            transition-delay: 0s;
        }
    }
}
