nav {
    .link-container {
        color: var(--text-color-main);
        text-decoration: none;

        &:hover {
            color: var(--text-color-main);
        }
    }
    
    &.navbar {
        background: linear-gradient(to bottom, var(--background-color-header) 50%, var(--background-color-main) 50%);
        background-size: 100% 200%;
        background-position: bottom;
        transition: .1s linear;
        transition-delay: 0.2s;

        * {
            color: var(--text-color-header);
            fill: var(--text-color-header);
            transition-delay: 0.2s;
            transition: 0.2s;
        }

        p[role=button]:hover {
            transform: scale(1.1);
        }

        p > i {
            display: inline-block;
            transition: transform 0.2s;
        }

        & + div.menu-secondary--default {
            transition: z-index 0.5s ease-in-out 0.5s;
        }

        &[aria-expanded="true"] {
            background-position: top;
            transition-delay: 0s;

            * {
                color: var(--text-color-main);
                fill: var(--text-color-main);
                transition-delay: 0.1s;
                transition: 0.1s;   
            }

            & + div.menu-secondary--default {
                z-index: 10;
                transition: z-index 0s ease-in-out 0s;
            }*

            p > i {
                transform: rotate(90deg);
                display: inline-block;
                transition: transform 0.2s;
            }

            .search-container {
                input#search {
                    caret-color: var(--text-color-main);
                    color: var(--text-color-main);

                    &::placeholder {
                        color: var(--text-color-main);
                    }
                }

                &:hover input#search, input#search:focus, input#search:hover {
                    border-bottom: 2px var(--text-color-main) solid;
                }        
            }
        }

        div.container-fluid > div {
            min-width: 120px;
        }

        @media (max-width: $sm-breakpoint) {
            div.container-fluid > div {
              min-width: 0;
            }
        }
    }
    
    #navbar-expanded {
        position: absolute;
        background-color: var(--background-color-header);
        transition: 0.1s linear;
        transition-delay: 0.1s;
        transform: translateY(-1px);

        &.show {
            transition-delay: 0s;
        }
    }
    
    #logo {
        width: 20%;
        min-width: 120px;
        max-width: 240px;
        transition: opacity 0s linear 0s;
    }

    .search-container {
        width: 0;
        overflow: visible;

        & > div {
            float: right;
        }

        input#search {
            width: 0;
            border: none;
            border-bottom: 2px rgba(0, 0, 0, 0) solid;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
            color: var(--text-color-header);
            padding-left: 30px;

            &::placeholder {
                color: var(--text-color-header);
            }
        }

        &:hover input#search, input#search:focus input#search:hover {
            width: 200px;
            border-bottom: 2px var(--text-color-header) solid;
        }
    }
    
    input::-webkit-search-cancel-button {
        display: none;
    }

    .flip-box {
        height: 30px;
        transition: 0.6s;
        transform-style: preserve-3d;

        &.flipped {
            transform: rotateY(180deg);
        }

        .front, .back {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            width: 100%;
            transform: rotateX(0deg)
        }

        .front {
            z-index: 2;
            right: 0;
            width: 0;
        }

        .back {
            transform: rotateY(180deg);
            left: 0;
        }
    }
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
    z-index: 1000;
    transition: transform 0.25s ease-in-out;
    transition-duration: 0.2s;

    &.open {
        transform: translateY(0);
        transition-delay: 0.05s;
    }
}

.disable-scroll {
    height: 100%;
    overflow: hidden;
}

.menu-secondary {
    position: sticky;
    padding-top: 1.8em;
    top: -1px;
    z-index: 1030;
    
    &--default {
        background-color: var(--background-color-main);
    }

    &--pinned {
        background-color: transparent;
    }
}