$banner_gap: 10px;

#main-banner {
    width: calc(100vw + #{$banner_gap}) !important;
    margin-left: -$banner_gap !important;
    border-radius: 5em 5em 0 0;
    overflow: hidden;

    @media (max-width: $sm-breakpoint) {
        & {
            width: 100vw !important;
            border-radius: 0 0 0 0;
            margin-left: 0 !important;

            & > div {
                margin-bottom: 0.5em;
            }
        }
    }

    .carousel-inner {
        .carousel-item > div {
            .card {
                margin-left: $banner_gap;
                border: none;
            }
        }
    
        & ~ a[class^=carousel-control-] {
            width: 5%;
        }

        @media (max-width: $sm-breakpoint) {
            & .carousel-item {
                display: block;
                float: none;
                margin-bottom: 0.5em;
    
                &.active {
                    display: block !important;
                }
    
                & > div {
                    display: none;
        
                    &:first-child {
                        display: block;
                    }

                    .card {
                        margin-left: 0;
                    }
                } 
            }
    
            & ~ a[class^=carousel-control-] {
                display: none !important;
            }
        }
        
        $x: $sm-breakpoint + 1px;
        @media (min-width: $x) {
            & .carousel-item-end.active, .carousel-item-next {
                transform: translateX(25%);
            }
    
            & .carousel-item-start.active, .carousel-item-prev {
                transform: translateX(-25%);
            }
        }
    
        .carousel-item.active, .carousel-item-next, .carousel-item-prev {
            display: flex;
        }
    
        .carousel-item-end, .carousel-item-start {
            transform: translateX(0);
        }
    }
    
    .card {
        aspect-ratio: 9/16;
    
        .card-img {
            &-overlay {
                @include card-overlay-gradient(180deg, 15%, 30%);
    
                p {
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                    @include truncate-n-lines(10);
                }
            }
        }
    
        @media (max-width: $sm-breakpoint) {
            & {
                aspect-ratio: 3/4;
            }
        }
    }
}

.category-block {
    .card {
        aspect-ratio: 4/3;

        @media (max-width: $sm-breakpoint) {
            &, &-img, &-img-overlay {
                border-radius: 10px !important;
            }
        }

        .card-img {

            &-overlay {
                @include card-overlay-gradient(0deg, 0%, 50%);

                p {
                    margin-bottom: 0;
                    position: absolute;
                    bottom: 1em;
                    padding-right: inherit;
                }
            }
        }

        & + p {
            margin: 0.3em 0.5em 0;
            color: var(--text-color-main);
            font-size: 0.8rem;
            font-weight: 500;
            @include truncate-n-lines(2);
        }
    }

    & > div:first-child {
        h1 {
            font-weight: bold;
            color: var(--text-color-main);
            margin-left: 0.25em;
            margin-right: 0.25em;
        }
    }

    & &--articles {
        &.row {
            --bs-gutter-x: 0.5em;
            --bs-gutter-y: 0.5em;
        }

        & + p {
            margin: 0.75em 1.5em -0.25em;
            color: var(--text-color-main);
            font-weight: bold;
            font-size: 1.2rem;
        }

        @media (max-width: $sm-breakpoint) {
            &.row {
                --bs-gutter-x: 1em;
            }
        }
    }

    & &--spotlight {
        color: var(--text-color-main);

        h1 {
            font-weight: bold;
            @include truncate-n-lines(2);
        }

        p {
            text-align: justify;
        }

        .read-more-button {
            font-weight: bold;
            text-align: right;
            color: var(--text-color-header);

            & > p {
                color: inherit;

                &::after {
                    background-color: var(--text-color-header);
                }
            }

            &::after {
                color: inherit;
            }
        }

        .card {
            &-img, &-img-overlay {
                border-radius: 0 !important;
                @include card-overlay-gradient(0deg, 15%, 30%)
            }
        }
    }
}

.right-arrow-extension {
    &::after {
        display: inline-block;
        content: '\27F6';
        font-size: 2rem;
        padding-left: 0.2em;
        margin-top: -100%;
        transform: scaleX(1.3);
        color: var(--text-color-main);
    }

    &--header{
        @extend .right-arrow-extension;

        &::after {
            font-size: 5rem;
        }   
    }
}