.error404 .not-found-info {
    text-align: center;
    margin: 3em;
    margin-top: 15vh;

    h1 {     
        font-size: 20vw;
        color: var(--text-color-header);
    }

    a:hover {
        color: var(--text-color-header); 
    }
}

body.search {
    h1 {
        margin-top: 10vh;
        font-size: 5vw;
        color: var(--text-color-header);
        text-align: center;
    }

    h1 + p {
        text-align: center;
    }

    form[role=search] {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 2rem;
        color: var(--text-color-header);
        text-align: center;

        input[type=search] {
            -webkit-appearance: none;
            border: none;
            border-bottom: 2px var(--text-color-header) solid;
            color: var(--text-color-header);
            outline: none;
            max-width: 80%;

            &::placeholder {
                color: var(--text-color-header);
            }
        }

        i {
            position: relative !important;

            @media (max-width: $sm-breakpoint) {
                & {
                    display: none;
                }
            }
        }
    }
}