/**
 * _misc.scss
 *
 * styles that are only used once and are too short to have their own file
 */

// styling for the 404 page
.error404 .not-found-info {
    text-align: center;
    margin: 3em;
    margin-top: 15vh;

    h1 {     
        font-size: 20vw;
        color: var(--text-color-header);
    }

    a:hover {
        color: var(--text-color-header); 
    }
}

// styling for the search page
body.search .search-page-content {
    h1 {
        margin-top: 10vh;
        font-size: 5vw;
        color: var(--text-color-header);
    }

    form[role="search"] {
        margin-top: 0.5em;
        margin-bottom: -1em;
        font-size: 2rem;
        color: var(--text-color-header);
        text-align: center;

        input[type="search"] {
            -webkit-appearance: none;
            border: none;
            border-bottom: 2px var(--text-color-header) solid;
            color: var(--text-color-header);
            outline: none;
            max-width: 80%;
            background-color: transparent;

            &::placeholder {
                color: var(--text-color-header);
            }
        }

        i {
            position: relative !important;
        }

        @media (max-width: $sm-breakpoint) {
            & {
                margin-bottom: 0.5em;
            }

            i {
                display: none;
            }
        }
    }
}

// styling for pagination template
.pagination {
    .page-item {
        .page-link {
            color: var(--text-color-header);
            border-color: var(--text-color-header);
            background-color: var(--background-color-main);
            &:focus {
                box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
            }
        }

        &.active .page-link {
            background-color: var(--background-color-header);
            border-color: var(--background-color-header);
            color: var(--background-color-main);
        }

        &.disabled .page-link {
            color: $grey;
            border-color: $grey;
        }
    }
}